name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Tidy dependencies
        run: go mod tidy
        working-directory: .

      - name: Run Tests
        run: go test -v -race ./...
        working-directory: .

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        continue-on-error: true
        with:
          version: latest
          working-directory: .
          args: --timeout=5m
